<!-- views/index.ejs -->
<%- include('partials/header') %>
<%- include('partials/navbar') %>
<h1>Hoşgeldiniz Kadın Emeği Platformu</h1>
<p>El emeği ürünlerinizi burada paylaşabilir ve satabilirsiniz.</p>
<%- include('partials/footer') %>
